main {
    text-align: center;
    display: flex;
    flex-direction: column;
}

section.add {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section.add h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
}


.basic-info,
.add-info,
.add-description{
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.basic-info,
.link_image{
    margin-bottom: 2rem;
}

.link_image label,
.description label {
    font-size: 2rem;
    font-weight: 500;
    text-align: start;
    
}

.basic-info .name label,
.basic-info .age label {
    text-align: start;
    font-size: 2rem;
    font-weight: 500;
}

.basic-info .name,
.basic-info .age,
.link_image label,
.description label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.basic-info .name input{
    width: 48rem;
    height: 2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.basic-info .age input{
    width: 4.5rem;
    height: 2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.link_image input{
    width: 54rem;
    height: 2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

textarea{
    width: 54rem;
    height: 26rem;
    padding: 1rem;
    font-family: 'Darker Grotesque';
    font-size: 1.5rem;
    font-weight: 500;
}

input,
textarea{
    background-color: #E6E6E6;
    border: 1px solid #333333;
}

.add-button button{
    background-color: #2C5680;
    border: 1px solid #333333;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: #FFFFFF;
    width: 14rem;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.add-button button:hover{
    cursor: pointer;
}