main {
    text-align: center;
    display: flex;
    flex-direction: column;
}

section.adoption {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.basic-info,
.add-info{
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.basic-info,
.email{
    margin-bottom: 2rem;
}

.email label {
    font-size: 2rem;
    font-weight: 500;
    text-align: start;
    
}

.basic-info .name label,
.basic-info .age label {
    text-align: start;
    font-size: 2rem;
    font-weight: 500;
}

.basic-info .name,
.basic-info .age,
.email label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.basic-info .name input{
    width: 48rem;
    height: 2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.basic-info .age input{
    width: 4.5rem;
    height: 2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.email input{
    width: 54rem;
    height: 2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

input {
    border: 0;
    border-bottom: 1px solid #333333;
}

.adopt-button button{
    background-color: #2C5680;
    border: 1px solid #333333;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: #FFFFFF;
    width: 14rem;
    height: 4rem;
    margin-top: 3rem;
}


.adopt-button button:hover{
    cursor: pointer;
}


/* WOLF NOW */
.wolf-for-adoption{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.wolf-specific{
    display: flex;
}

.wolf-specific .wolf-image {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wolf-title{
    margin-left: 3rem ;
    text-align: start;
}

.wolf-title h1 {
    font-size: 4rem;
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 4.5rem;
}

.wolf-title p{
    color: #333333;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.4rem;
    margin-top: .5rem;
}