main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section.wolves-list {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

main section.wolves-list li{
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
}

main section.wolves-list li + li {
    margin-top: 6rem;
}

main section.wolves-list .wolf-text{
    margin-left: 2rem;
}

main section.wolves-list h3 {
    font-size: 2rem;
}


.wolf-description,
.wolf-age {
    max-width: 24rem;
    color: #333333;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.4rem; 
}

p.wolf-name {
    margin-bottom: 1.8rem;
}


main  .wolf-image{
    height: 18rem;
    width: 25rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #333333;
}

main li:nth-child(odd) .wolf-image{
    box-shadow: -40px -30px #2C5680;   
}

.wolf-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 button {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-color: #DEB959;
    padding: .5rem;
    margin-top: .8rem;
    border: none;
    margin-left: 2rem;
}

button:hover{
    cursor: pointer;
}


/* BARRA DE PESQUISA */

.filtering{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    flex-direction: column;
}


.filtering .search-wolf input {
    padding: .6rem;
    width: 48rem;
    font-size: 1.25rem;
    font-family: 'Darker Grotesque', sans-serif;
    height: 2.4em;
    font-weight: 500;
}

.filtering .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 2rem;
}

.filtering .checkbox input{
    width: 1rem;
    height: 1rem;
}

.filtering .checkbox p {
     color: #333333;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.4rem;
    margin-left: .8rem;
}

.search-wolf button {
    margin-left: 1rem;
}


/* REVERSING */
.wolves-list li:nth-child(even){
    margin-top: 6.25rem;
    flex-direction: row-reverse;
    text-align: star;
}

.wolves-list li:nth-child(even) .wolf-image {
    box-shadow: 40px -30px #2C5680;
}

.wolves-list li:nth-child(even) .wolf-text{
    margin-right: 2rem;
}

.rodape {
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.rodape ul{
    display: flex;
}

.rodape ul li {
    font-size: 1.5rem;
    color: #333333;
}

.rodape ul li + li {
    margin-left: 1rem;
}