@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER */

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header nav.navbar-header{
    background-color: #85CDF5;
    width: 100%;
    padding-top: .8rem;
}

header nav.navbar-header ul.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav.navbar-header ul.navbar-list li a {
    font-weight: bold;
    font-size: 2rem;
    color: #333333;
}

/* ANIMANDO O HEADER*/
header nav.navbar-header ul.navbar-list li.animation-header:nth-child(1) a::after,
header nav.navbar-header ul.navbar-list li.animation-header:nth-child(3) a::after{
    content: "";
    display: block;
    background-color: #333333;
    height: .2rem;
    width: 0;
    float: right;
    transition: width 800ms ease-in-out;
}

header nav.navbar-header ul.navbar-list li.animation-header:nth-child(1) a:hover::after,
header nav.navbar-header ul.navbar-list li.animation-header:nth-child(3) a:hover::after{
    transition: width 800ms ease-in-out;
    width: 70%;
}

/* MAIN AREA */

main section.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 7.5rem;
    flex-wrap: wrap;
}


/* FOOTER */
footer{
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
    margin-top: auto;
    gap: 2rem
}

footer div.wolves-contact {
    display: flex;
    gap: 2rem;
}

footer div.wolves-contact ul li{
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
    align-items: center;
}

footer div.wolves-contact ul li p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
}

footer div.wolves-contact ul li a {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
    background-color: #DEB959;
    padding: 0 .5rem;
    margin-top: .8rem;
}

footer div.wolves-contact ul li a:hover{
    transform: scale(1.2);
    background-color:#ebd190;
    transition: 800ms;
}

footer .wolves-figure figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer figcaption {
    font-size: 1.5rem;
    margin-bottom: .8rem;
}