main section .single-wolf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section .single-wolf h1{
    font-size: 3rem;
    font-family: Roboto, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.image-buttons img {
    height: 18rem;
    width: 25rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #333333;
    box-shadow: -40px -30px #2C5680;

    margin-bottom: 3rem;
}

.wolf-info{
    display: flex;
    align-items: center;
}

.wolf-info p {
    width: 30rem ;
    color: #333333;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.4rem;
    margin-left: 2rem;
    text-align: justify;
}
.wolf-info p + p {
    margin-top: 2rem;
}

.image-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wolf-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wolf-buttons button:nth-child(1){
    background-color: #7AAC3A;
    width: 12rem;
    height: 3.5rem;
    border: none;

    font-size: 1.2rem;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    color: white;
}

.wolf-buttons button:nth-child(2){
    background-color: #DE5959;
    width: 12rem;
    height: 3.5rem;
    border: none;

    font-size: 1.2rem;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    color: white;
}

.wolf-buttons button:nth-child(1),
.wolf-buttons button:nth-child(2) {
    cursor: pointer;
}